#game {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#rightSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 30%;
    /* Adjust width of right sidebar */
    padding-left: 20px;
    /* Space between map and right sidebar */
}

#map {
    display: grid;
    grid-template-columns: repeat(11, 30px);
    grid-gap: 2px;
    background-color: white;
    border: 5px solid white;
    padding: 2px;
    border-radius: 15px;
    position: relative;
    flex-basis: 70%;
}

#map .cell {
    width: 30px;
    height: 30px;
    background-image: url('base_tile.png');
    background-size: cover;
}

#map .cell[type="town"] {
    background-image: url('village_tile.png');
    background-size: cover;
}

#map .cell[type="water"] {
    background-image: url('water_tile.png');
    background-size: cover;
}

#map .cell[type="forest"] {
    background-image: url('forest_tile.png');
    background-size: cover;
}

#map .cell[type="farm"] {
    background-image: url('plains_tile.png');
    background-size: cover;
}

#map .fixed {
    background-image: url('mountain_tile.png');
    background-size: cover;
}

#currentElementWrapper {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    /* Space between elapsed time and current element */
}

#currentElement {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-gap: 2px;
    margin-top: 5px;
}

#timeLabel {
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

#currentElement .cell {
    width: 30px;
    height: 30px;
}

.cell[type="water"] {
    background-image: url('water_tile.png');
    background-size: cover;
}

.cell[type="town"] {
    background-image: url('village_tile.png');
    background-size: cover;
}

.cell[type="forest"] {
    background-image: url('forest_tile.png');
    background-size: cover;
}

.cell[type="farm"] {
    background-image: url('plains_tile.png');
    background-size: cover;
}

.elapsed-time {
    text-align: center;
    /* Centering the text */
    margin-bottom: 15px;
}

.season-progress {
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 10px;
    /* spacing between images */
}

.game-element {
    position: relative;
    width: 210px;
    /* adjust based on the desired width for your images */
    height: 70px;
    /* adjust based on the desired height for your images */
}

.game-element img {
    width: 100%;
    height: 100%;
}

.score {
    position: absolute;
    bottom: 20%;
    right: 20%;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}